*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    background-color: #acbaca;
    text-align: center;
    
}
body h1{
    padding: 50px 0;
    font-size: 30px;
    font-weight: 600;
    font-style: normal;
}
.animated_clock{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.clock{
    position: relative;
    width: 450px;
    height: 450px;
    background-color: #c9d5e0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    box-shadow: 30px 30px 30px -10px rgba(0,0,0,0.15),
    inset 15px 15px 10px rgba(255,255,255,0.75),
    -15px -15px 35px rgba(255,255,255,0.55),
    inset -1px -1px 10px rgba(0,0,0,0.2);
}
.clock .numbers{
    position: absolute;
    inset: 35px;
    background-color: #152b4a;
    border-radius: 50%;
    box-shadow: 5px 5px 15px #152b4a66,
    inset 5px 5px 5px rgba(255,255,255,0.55),
    6px 6px 10px rgba(255,255,255,1);
}
.clock .numbers span{
    position: absolute;
    inset: 5px;
    text-align: center;
    color: #ffff;
    font-size: 1.25rem;
    transform: rotate(calc(90deg * var(--i)));
}
.clock .numbers span b{
    font-weight: 600;
    display: inline-block;
    transform: rotate(calc(-90deg * var(--i)));
} 
.clock .numbers::before{
    position: absolute;
    inset: 35px;
    content: "";
    background: linear-gradient(#ff00a2,#00ff00);
    border-radius: 50%;
    animation: animate 2s linear infinite;
}
@keyframes animate{
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
.clock .numbers::after{
    position: absolute;
    inset: 40px;
    content: "";
    background: #152b4a;
    border-radius: 50%;
}
.clock .numbers .circle{
    display: flex;
    position: absolute;
    justify-content: center;
    inset: 0;
    border-radius: 50%;
    z-index: 10;
}
.clock .numbers .circle i{
    position: absolute;
    /* width: 3px; */
    height: 50%;
    background-color: #fff;
    transform-origin: bottom;
    
}
.clock .numbers .circle#hr i{
    transform: scaleY(0.35);
    width: 7px;
    background-color: #d8ff00;
}
.clock .numbers .circle#mn i{
    transform: scaleY(0.50);
    width: 4px;
    background-color: #00effb;
}
.clock .numbers .circle#sc i{
    transform: scaleY(0.70);
    background-color: #e91e1e;
    width: 2px;
    box-shadow: 0 30px 0 #e91e1e;
}
.clock::before{
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: #e91e1e;
    border-radius: 50%;
    z-index: 1000;
    box-shadow: 0 0 0 1px #e91e1e,
    0 0 0 3px #fff,
    0 0 5px 5px rgba(0,0,0,0.15);
}